ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none; /* Убирает подчеркивание */
    color: inherit; /* Использует цвет по умолчанию (наследованный от родительского элемента) */
    cursor: pointer; /* Делает курсор при наведении по умолчанию, как для обычной текстовой области */
  }